body {
    font-family: 'Montserrat-regular', sans-serif;
}

#title {
    background-color:#ff4c68;
    color: #fff;
}

.container-fluid {
    padding: 3% 15% 7%;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    size: 3.5rem;
    line-height: 1.5;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 700;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

/* Navigation Bar */

.navbar {
    padding:0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.download-btn {
    margin: 5% 3% 5% 0;
}


/* Title image*/

.title-img {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}


/* Feature Section*/

#features {
    padding: 7% 12%;
    position: relative;
    background-color: #fff;
    z-index: 1;
}

#features > div {
    text-align: center;
    padding: 5%;
}

#features i {
    margin-bottom: 1rem;
    color: #ef8172;
}

#features i:hover {
    color: #ff4c68;
    cursor: pointer;
}

#features h3 {
    font-size: 1.25rem;
}

#features p {
    color: #8f8f8f;
    margin: 1rem auto;
}


/* testimonials*/

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding: 3%;
}

#press img {
    width: 15%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

.carousel-indicators {
    bottom: -84px;
}

#pricing {
    padding: 100px;
    text-align: center;
  }

.card-deck {
    padding:5% 2%;
}

@media (max-width: 1000px) {
    #title {
        text-align: center;
    }

    .title-img {
        position: static;
        transform: rotate(0);
    }
}

/* CTA section*/

#cta {
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
}

#cta h3 {
    margin-bottom: 50px;
}

#cta button{
    margin:10px 10px;
}


/*footer*/
#footer {
    margin:5% auto;
    text-align: center;
}

#footer i {
    margin: 20px 10px;
}
